includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
    excludePaths:
        - _ide_helper.php (?)
        - node_modules (?)
        - storage
        - tests
        - vendor
    level: 6
